<!DOCTYPE html>
@model TinyHttpService.Sample.User
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Test Page</title>
</head>
<body>
    <h1>@Model.UserName</h1>
</body>
</html>
